[submodule "checksyntax_vim"]
	path = checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
