[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = git@github.com:tomtom/checksyntax_vim.git
[submodule "checksyntax_vim"]
	path = checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
